{% extends 'shop/basic.html' %}
{% block title %} About Us{% endblock %}
{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">My Awesome Cart</h1>
      <p>Hello, this is a Platform Where you can easily buy any product with less price and if you are a seller you can also sell your product here and get you order and earn money easily here.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Buyer</h2>
        <p>Buy Products</p>
        <p><a class="btn btn-secondary" href="/shop" role="button">Buy &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Become a Seller</h2>
        <p>Sell Your Product</p>
        <p><a class="btn btn-secondary" href="/shop/sellproduct" role="button">Sell &raquo;</a></p>
      </div>
    </div>
  </div>
</main>

<hr>
<footer class="container">
  <p>&copy; Company 2021-Till Now</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
</html>


{% endblock %}
