{% extends 'shop/basic.html' %}
{% block title %}Home{% endblock %}

{% block css %}
#img{
    width: 280px;
    height: 300px;
}
#hori{
  border-top: 3px solid black;
  width: 100%;  
}
#horii{
  border-top: 3px solid grey;
  width: 100%;  
}
@media (max-width: 767px){
#img{
    width: 150px;
    height: 160px;
}
.mt-0{
    font-size:20px;
}
.card-title{
    font-size:15px;
}
#des{
    font-size:13px;
}
}
{% endblock %}

{% block body %}



{% for product, range, nSlides in allprods %}
    <hr id="hori"></hr>
    <h5 class="col-9 row-9 my-2">Flash Sale on <b><u>{{product.0.category}}</u></b> Items</h5>
    <hr id="hori"></hr>
    {%for i in product%}



<div class="d-flex position-relative">
  <img src="/media/{{i.image}}" class="flex-shrink-0 me-3" alt="..." id="img">
  <div>
    <a href="/shop/productview/{{i.id}}"><h3 class="mt-0" style="margin-left:20px;">{{i.product_name}}</h3></a>
    <h5 class="card-title" style="margin-left:20px;">Price:-${{i.price}}</h5>
    <h6 style="margin-left:20px;" id="des">{{i.des}}</h6>
    <a href="/shop/order/{{i.id}}" class="btn btn-primary" style="margin-left:20px;">Buy Now</a>
  </div>
</div>
<hr id="horii"></hr>
{%endfor%}
{%endfor%}





{% endblock %} 
