{% extends 'shop/basic.html' %}
{% load custom_filter %}
{% block title %}My Cart{% endblock %}
{% block body %}
{%if user.is_authenticated%}
{% if cart_is == "no" %}
<center><img src="https://static8.depositphotos.com/1431107/919/i/600/depositphotos_9199988-stock-photo-oops-icon.jpg" width="200px" height="200px"><h2><u>You have not added any product into cart</u></h2>
<a href="/shop"><button class="btn btn-dark">Add Product</button></a></center>

{% else %}
<h1></h1>
<center><h2><u>Add To Cart Products</u></h2></center>
<p></p>
</style>
<div class="container mt-1">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th><h5 id="text">Product Image</h5></th>
                    <th><h5 id="text">Product Name/price/ quantity</h5></th>
                    <th><h5 id="text">Delete</h5></th>
                  </tr>
                </thead>
                <tbody>
                	{% for cart in cart %}
                	{% if request.user.id == cart.cart_id %}
                 <tr>
<style>
#img{
    width: 200px;
    height: 200px;
}
@media (max-width: 767px){
#img{
    width: 110px;
    height: 110px;
}
#text{
    font-size:13px;
}
#add_button {
    padding:5px 0px;
    font-size:12px;
    height:30px;
    width:70px;
    border-radius:5px;
}
}
</style>
                        <th><a href="/shop/productview/{{cart.product_id}}"><img src="/{{cart.image_of_product}}" id="img" ></a></th>

                        <th><a href="/shop/productview/{{cart.product_id}}"><h4 id="text">{{cart.name_of_the_product}}</h4></a><h4 id="text">₹{{cart.price_of_the_product}}</h4><h6 id="text">Quantity:-{{cart.quantity}}</h6><h6>Subtotal:-₹{{cart.price_of_the_product|mul:cart.quantity}}</th>

                        <th><a href="cart_delete/{{cart.id}}"><button id="add_button" class="btn btn-danger">Remove</button></a></th>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% endif %}
<br>
{% if cart_is == "no" %}
<p></p>
{% else %}
<div class="container">
<h2><u>Grand Total:-₹{{grand_total}}</u></h2>
<br>
</div>
{% endif %}
{% else %}
<center><h3>You Are Not Logined Please Login First To see Your Add To Cart Products</h3>
<a href="/"><button class="btn btn-danger">Sign In/Sign Up</button></a></center>
{% endif %}
{% endblock %}
