{% extends 'shop/basic.html' %}
{% block title %}My Cart{% endblock %}
{% block body %}
{%if user.is_authenticated%}
<h1></h1>
<center><h2><u>Add To Cart Products</u></h2></center>
<p></p>
</style>
<div class="container mt-1">
    <div class="row">
        <div class="col-11">
            <table class="table">
                <thead>
                  <tr>
                    <th><h5 id="text">Product Image</h5></th>
                    <th><h5 id="text">Product Name/Price/quantity</h5></th>
                    <th><h5 id="text">Delete</h5></th>
                  </tr>
                </thead>
                <tbody>
                	{% for cart in cart %}
                	{% if request.user.id == cart.cart_id %}
                 <tr>
<style>
#img{
    width: 200px;
    height: 200px;
}
@media (max-width: 767px){
#img{
    width: 95px;
    height: 95px;
}
#text{
    font-size:13px;
}
#add_button {
    padding:10px 10px;
    font-size:9px;
    height:30px;
    width:70px;
    border-radius:5px;
}
}
</style>
                        <th><a href="/shop/productview/{{cart.product_id}}"><img src="/media/{{cart.image_p}}" id="img" ></a></th>
                        <th><a href="/shop/productview/{{cart.product_id}}"><h4 id="text">{{cart.name_p}}</h4></a><h4 id="text">${{cart.price_p}}</h4><h6 id="text">Quantity:-{{cart.quantity}}</h6></th>
                        <th><a href="cart_delete/{{cart.id}}"><button id="add_button" class="btn btn-danger">Remove</button></a></th>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
{% else %}
<center><h3>You Are Not Logined Please Login First To see Your Add To Cart Products</h3></center>
{% endif %}
{% endblock %}
