{% extends 'shop/basic.html' %}
{% block title %} Contact Us {% endblock %}
{% block body %}
{%if user.is_authenticated%}
 <div class="container">
     <h2><u>Contact Us</u></h2><br>
<form action="/shop/contact/" method="post">{% csrf_token %}
  <div class="form-group">



    <b><label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
  </div><br>


          <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
  </div><br>



          <div class="form-group">
    <label for="phone">Phone</label>
    <input type="tel" class="form-control" id="phone" name="phone"  placeholder="Enter Your Phone Number"></input>
  </div><br>



   <div class="form-group">
    <label for="desc">How May We Help You ?</label>
    <textarea class="form-control" id="des" name="des" rows="3"></textarea><br></b>
  </div>




    <button class="btn btn-dark" type="submit">Submit</button>
{% else %}

<center>
<h3>you have not signup please go and sign up the page</h3>
<a href="/">
  <button class="btn btn-danger">Sign In/Sign Up</button>
</a>
</center>

{% endif %}
{%endblock%}