{% extends 'shop/basic.html' %}
{%block title%}Place Order{%endblock %}

{% block css %}

#image img {
width: 287px;
height: 300px;
margin-top: 10px;
margin-left:30px;
}

#method{
width:40%;
}

#text{
    margin-left:-13px;
}

#inputorder{
    margin-top:0px;
    margin-left: -15px;
}

#order1{
    color:black;
    background-color:#00FCEB;
}


#order2{
    color:black;
    background-color:#00FCEB;
}

#order1:hover{
    color:white;
    background-color:green;
}

#order2:hover{
    color:white;
    background-color:green;
}

{% endblock %}
{% block body %}
<form action="/shop/order/{{product.id}}" method="post">{% csrf_token %}
<div class="container">

    <div class="row">
    <div class="col-md-4">
    <div class="row-md-8">
        <label for="image"><img src="/media/{{product.image}}" width="287px" height="300px"></label>
        <input type="hidden" id="image"readonly="readonly" class="form-control" value="{{product.image}}" name="product_image">
    </div>

    </div>

    <div class="col-md-7"><br>
        <label for="pn">Product Name:-</label>
    <input id="pn" readonly="readonly" class="form-control" name="product_name" value="{{product.product_name}}"></input><br>
        <label for="pr">Product price:-</label>
    <input id="pr" readonly="readonly" class="form-control" value="{{product.price}}" name="product_price"></input><br>

    </div>
    </div>



    <div class="col my-4">
        <h2>Enter Address & Other Details</h2>
        <b><form>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" placeholder="Name" name="name">
                </div><br>



                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                </div>
            </div><br>


            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your Address" name="address1">
            </div><br>



            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Enter your locality and house Name" name="address2">
            </div><br>



            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Enter your city Name" name="city">
                </div><br>



                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your State Name" name="state">
                    </select>
                </div><br>


                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="Enter your Pin Code" name="zip">
                </div>
            </div><br>

            
            <div class="form-group">
                <label for="inputphone">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhone" placeholder="Enter Your Phone Number" name="phone">
            </div><br>





            
                <label for="order_method">PLEASE CHOOSE METHOD OF PAYMENT</label>
                 <select name="order_method" class="form-control" id="method">
                    <option value="CASH ON DELIVERY">CASH ON DELIVERY</option>
                    <option value="CARD METHOD">CARD METHOD</option>
                 </select><br>



            <div class="form-group col-md-7">
                <label for="inputorder" id="text">Your Product ID</label>
                <input id="inputorder" class="form-control" value="{{product.id}}" readonly="readonly" name="product_id"></div></b>



            <div class="form-group col-md-7">
                <input type="hidden" id="inputorder" class="form-control" value="{{request.user.id}}" readonly="readonly" name="user_uid"></div></b><br>







{% if user.is_authenticated %}
            <a type="button" class="btn btn-dark" data-toggle="modal" data-target="#order" id="order1">
            Place Order
            </a>

            <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADVISE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    PLEASE CHECK THE DETAILS CAREFULLY.
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
{% else %}

<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#order" id="order2">
Place Order
</button>

<div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">please sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        PLEASE Signup
      </div>
      <div class="modal-footer">
        <a type="button" href="/" class="btn btn-secondary" >Signup/Login</a>
      </div>
    </div>
  </div>
</div>
{% endif %}





                    
{%endblock %}