{% extends 'shop/basic.html' %}
{% block title %}Enter Order Details{% endblock %}
{%block title%}Place Order{%endblock %}

{% block css %}

#image img {
width: 287px;
height: 300px;
margin-top: 10px;
margin-left:30px;
}
#inputorder,#text{
    position:relative;
    left:20px;
}
#method{
width:60%;
}

#text{
    margin-left:-13px;
}

#inputorder{
    margin-top:0px;
    margin-left: -15px;
}

#order1{
    color:black;
    background-color:#04FF00;
}


#order2{
    color:black;
    background-color:red;
}

#order1:hover{
    color:white;
    background-color:green;
}

#order2:hover{
    color:white;
    background-color:black;
}

{% endblock %}
{% block body %}

<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.0/jquery.fancybox.min.js"></script>

{% if not payment %}
<form action="/shop/order/{{product.id}}" method="post">{% csrf_token %}
<div class="container">

    <div class="row">
    <div class="col-md-4">
    <div class="row-md-8">
        <br>
        <label for="image"><img src="/media/{{product.image}}" width="287px" height="300px"></label>
        <input type="hidden" id="image"readonly="readonly" class="form-control" value="{{product.image}}" name="product_image">
    </div>

    </div>

    <div class="col-md-7"><br>
        <label for="pn">Product Name:-</label>
    <input id="pn" readonly="readonly" class="form-control" value="{{product.product_name}}"></input><br>


    <input id="pn" readonly="readonly" type="hidden" class="form-control" name="product_name" value="{{product.id}}"></input><br>


        <label for="pr">Product price:-</label>
    <input id="pr" readonly="readonly" class="form-control" value="₹{{product.price}}" name="product_price"></input><br>

    </div>
    </div>



    <div class="col my-4">
        <h2>Enter Address & Other Details</h2>
        <b><form>



            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" placeholder="Name" name="name">
                </div><br>




                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
                </div>
            </div><br>




            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your Address" name="address1">
            </div><br>



            <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Enter your locality and house Name" name="address2">
            </div><br>



            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="Enter your city Name" name="city">
                </div><br>



            <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter Your State Name" name="state">
                </select>
            </div><br>



                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" class="form-control" id="inputZip" placeholder="Enter your Pin Code" name="zip">
                </div>
            </div><br>

            
            <div class="form-group">
                <label for="inputphone">Phone Number</label>
                <input type="tel" class="form-control" id="inputPhone" placeholder="Enter Your Phone Number" name="phone">
            </div><br>

            


            <style>
            #method{
                width: 200px;
                background-color: white;
                color: black
            }
            </style>
               
            <label for="order_method" >Choose Method of Payment</label><br>
             <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="order_method" id="method" required>
                <option id="jj" value="" selected>Select Payment Method</option>
                <option id="jj" value="ONLINE PAYMENT">ONLINE PAYMENT</option>
                <option id="jj" value="CASH ON DELIVERY">CASH ON DELIVERY</option>
             </select>
             <br>
             <br>



            <div class="form-group">
                <label for="inputorder" id="text">Your Product ID</label>
                <input id="inputorder" class="form-control" value="{{product.id}}" readonly="readonly" name="product_id">
            </div></b>


            <div class="form-group col-md-7">
                <input type="hidden" id="inputorder" class="form-control" value="{{request.user.id}}" readonly="readonly" name="user_uid">
            </div><br>


            <div class="form-group col-md-7">
                <input type="hidden" id="inputorder" class="form-control" value="{{product.admin_id}}" readonly="readonly" name="admin_id">
            </div>

            <div class="form-group col-md-7">
                <input class="form-control" type="hidden" value="{{order_id}}" readonly="readonly" name="order_id">
            </div>






{% if user.is_authenticated %}
            <a type="button" class="btn btn-dark" data-toggle="modal" data-target="#order" id="order1">
            <b>Place Order</b>
            </a>
            <br>
            <br>

            <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ADVISE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    PLEASE CHECK THE DETAILS CAREFULLY.
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
{% endif %}

{% elif user.is_not_authenticated and not payment %}
<button type="button" class="btn btn-danger" id="order2">
<b>You Cannot Place Order</b>
</button>
{% else %}
{% endif %}    


{% if payment %}
<br>
<!-- <form action="/shop/handlerequest" method="POST">{% csrf_token %}
<button id="rzp-button1">Pay With Razorpay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "rzp_test_RMrYVBgxH8sJdI",
    "amount": "20000", // 2000 paise = INR 20
    "name": "Merchant Name",
    "description": "Purchase Description",
    "image": "",
    "handler": function (response){
        alert(response.razorpay_payment_id);
};
var rzp1 = new Razorpay(options);

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
</form> -->



<form action="/shop/handlerequest/" method="POST">{% csrf_token %}
<script
    src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="rzp_test_RMrYVBgxH8sJdI" 
    data-amount="{{payment.amount}}"
    data-currency="{{payment.currency}}"
    data-order_id="{{payment.id}}"
    data-buttontext="Pay with Razorpay"
    data-name="BPSC-SCORE"
    data-description="Test-Series"
    data-image="https://claymould.suvidhaen.com/static/yaksh/images/main_logo.png"
    data-prefill.name="{{payment.user_id}}"
    data-prefill.email=""
    data-theme.color="#F37254"
>

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
</form>

{% endif %}


{%endblock %}