{% extends 'shop/basic.html' %}
{% block title %}View Order{% endblock %}
{%block body%}
{%if user.is_authenticated%}
{% for order in order %}
{% if request.user.id == order.admin_id %}

<style>
.flex-shrink-0{
    width: 200px;
    height: 170px;
}
@media (max-width: 767px){
.flex-shrink-0{
    width: 130px;
    height: 120px;
}
#text{
	font-size:12px;
}
}
</style>

<br>
<div class="d-flex position-relative">
  <img src="/media/{{order.product_image}}" class="flex-shrink-0 me-3" alt="...">
  <div>
    <h3 id="text" class="mt-0"><b>Buyer Name:-</b>{{order.name}}</h3>
    <h4 id="text"><b>Email Address:-</b>{{order.email}}</h4>
    <h4 id="text"><b>Address:-</b>{{order.address1}},{{order.address2}}</h4>
    <h4 id="text"><b>Phone number:-</b>{{order.phone}}</h4>
    <a id="text" href="/shop/moredetail/{{order.id}}">More details></a>
  </div>
</div>
<br>
<br>



{% endif %}
{% endfor %}
{%else%}
<h2>Please sign in to see your Orders Request</h2>
<a href="/" class="btn btn-danger">Sign in Here</a>
{%endif%}
{%endblock%}


































