{% extends 'shop/basic.html' %}
{% block body %}
{% load static %}
{% if status %}
<br>
<br>
<br>
<style>
body{
  background-color:#F8F8F8;
}
.responsive {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

#center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-85px;
}
@media screen and (min-width:900px){
#center{
    width:600px;
    height:420px;
  }
}
</style>
<center>
<img src="{% static 'shop\ezgif.com-gif-maker (2).gif' %}" alt="Nature" class="responsive" id="center"/>
<h1>Your Payment was successful</h1>
<h2>You have Successfully Order the Product<br>Thank You For Choosing us.....!<br>Track your Product<br><a href="/shop/vieworder"><button class="btn btn-dark">view order</button></a></center>
  <br>
{% else %}
<br>
<br>
<h1>Payment failed, Try again! or Contact these Number:- +91 8409913276</h1>
<br>
{% endif %}

{% endblock %}

