<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel = "icon" href = "https://icon2.cleanpng.com/20171220/hpe/shopping-cart-png-5a3a8fce7193f6.6430523815137873424652.jpg" type = "image/x-icon">
    <title>Paytm merchant payment page</title>
</head>
<body>


<style>
body{
	background-color: #DCDCDC;
}
</style>
<h2><center>Redirecting you to the merchant....<br>
Please do not refresh your page....</center></h2>
<center><img src="https://media1.giphy.com/media/dJezVlwfVulTykjRQj/200w.gif"></center>
<form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">{% csrf_token %}
    {% for key, value in param_dict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}

</form>


</body>
<script>
document.paytm.submit()
</script>
</html>