{% extends 'shop/basic.html' %}
{% block title%} {{product.product_name}} - My Awesome Cart{% endblock %}
{% block body %}

<style>
#butt{
    position: relative;
    top: 30px;
}
#text{
    position: relative;
}
#des{
  font-size:25px;
}
@media (max-width:767px){
#butt{
    position: relative;
    top:5px;
}
#des{
  font-size:20px;
}
}
</style>





<div class="row g-0 bg-light position-relative">
  <div class="col-md-2 mb-md-0 p-md-3">
    <img src="/media/{{product.image}}" class="w-100" alt="...">

    <a href="/shop/order/{{product.id}}" class="btn btn-dark mx-3" id="butt" style="margin-left:20px;"data-toggle="modal" data-target="#myModall{{product.id}}">Buy Now</a>

    <div class="modal fade" id="myModall{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="{{product.id}}" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Choose Payment Method</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-footer">
      <a href="/shop/order1/{{product.id}}"><button class="btn btn-dark">Cash on Delivery</button></a>
      <a href="/shop/order/{{product.id}}"><button class="btn btn-dark">Online Payment(PayTm)</button></a>
    </div>
  </div>
</div>
</div>


    {% if user.is_authenticated %}
    <form method="POST" action="/shop/search/">{% csrf_token %}
    <input type="hidden" name="cart_id" value="{{request.user.id}}">
    <input type="hidden" name="image_p" value="{{product.image}}">
    <input type="hidden" name="name_p" value="{{product.product_name}}">
    <input type="hidden" name="price_p" value="{{product.price}}">
    <input type="hidden" name="product_id" value="{{product.id}}"><br><br>

    <button type="button" class="btn btn-dark mx-3" style="margin-left:20px;" data-toggle="modal" data-target="#myModal{{product.id}}">Add To Cart</button>

<div class="modal fade" id="myModal{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="{{product.id}}" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Quantity?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
<style>
#quantity{
width: 200px;
}
</style>
      <label for="quantity"><h5>Please Choose quantity of the Item</h5></label><br>
       <select name="quantity" id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
       </select>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark" >Submit</button>
      </div>
    </div>
  </div>
</div>
    </form>
{% endif %}

  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <p class="mt-0" style="font-size:25px;"><u>{{product.product_name}}</u></p>
    <p><span style="color: #000000;"><b>Price:-</b><strong> <span style="color: #FFBA67;font-size:25px;">₹{{product.price}}</span></strong></span></p>
    <br>
    <p id ="des"><b><u>Description:-</u></b></p>{{product.des|safe}}
<br>
<br>
<br>
<br>
</div>
</div>
<style>
h3 {
  font-size: 25px;
}
@media (max-width: 768px){
  h3{
    font-size: 16px;
  }
  #img{
    width: 120px;
    height: 120px;
  }
}
</style>
<h4><b><u>Related Products:-</b></u></h4>
<hr></hr>
{{product_prod}}
    {% for prod in prod %}
    {% if prod.category == product.category and prod.product_name != product.product_name %}
    <label for="img"></label>
    <h3><a href="/shop/productview/{{prod.id}}"><img src="/media/{{prod.image}}" width="170px"height="170px" id="img"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/shop/productview/{{prod.id}}">{{prod.product_name|slice:"0:22"}}..</a></img></h3><br>
    {% else %}
    <p></p>
      {% endif %}
      {% endfor %}




{% endblock %}
