{% load static %}
<style>
body{
  background-color:#F6F6F6;
}
.responsive {
  background-color: transparent;
}

#center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
}

div.text{
  margin-top:-100px;
  text-align: center;
}
@media (max-width: 450px){
.reponsive{
  width:20px;
  height:20px;
}
}
</style>
<img src="{% static "shop\ezgif.com-gif-maker (2).gif" %}" alt="Nature" class="responsive" id="center" width="800px" height="600px;"/>
<div class="text"><h1>Your Order Has Successfully Delivered<br><button type="button" onclick="history.back()"><u>Go Back</u></button></h1></div>
