{% load static %}
<img src="{% static "shop\ezgif.com-gif-maker (2).gif" %}" alt="Nature" class="responsive" id="center"/>
<div class="text"><h1>Your Have Successfully Submitted The Form<br><button type="button" onclick="history.back()"><u>Go Back</u></button></h1></div>

<style>
body{
	background-color:#F8F8F8;
}
.responsive {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

#center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
}

div.text{
	margin-top:-100px;
  	text-align: center;
}

</style>