{% extends 'shop/basic.html' %}
{%block body%}
{%if user.is_authenticated%}
{% for order in order %}
{% if request.user.id == order.order_uid %}


<style>
#img{
	position: relative;
	left: -70px;
}
</style>
<div class="container my-5">
    <div class="row">
    <div class="col-md-4">
    <div class="row">
        <img src="/media/{{order.product_image}}" width="280px" height="300px" id="img">
    </div>


    </div>

    <div class="col-md-8">
        <h4 id="img"><b>Title:-</b>{{order.product_name}}</h4><br>
        <h5 id="img"><b>Price:-</b>${{order.product_price}}</h5><br>
        <a href="/shop/productview/{{order.order}}"><p style="margin-left:-1.9em;position:relative;left:-60px;"><button class="btn btn-primary mx-3">View Product</button></p></a>

    </div>
    </div>
</div>


{% endif %}
{% endfor %}
{%else%}
<h2>Please sign in to see your Orders</h2>
<a href="/" class="btn btn-danger">Sign in Here</a>
{%endif%}
{%endblock%}
