{% extends 'shop/basic.html' %}
{% block title %} All Products {% endblock %}
{%block body%}
<body>

    <div class="container mt-1">
        <div class="row">
            <div class="col-11">
                <table class="table">
                    <thead>
                      <tr>
                        <th><h5 id="text">Product Image</h5></th>
                        <th><h5 id="text">Product Name/Price</h5></th>
                        {% if user.is_authenticated %}
                        <th><h5 id="text">Add To Cart</h5></th>
                        {% endif %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for d in data %}
                      <tr>
<style>
#img{
    width: 200px;
    height: 200px;
}
@media (max-width: 767px){
#img{
    width: 95px;
    height: 95px;
}
#text{
    font-size:15px;
}
}
</style>
                        <th><a href="/shop/productview/{{d.id}}"><img src="{{d.image.url}}" id="img"></a></th>
                        <th><h4 id="text"><a href="/shop/productview/{{d.id}}">{{d.product_name}}</a></h4><h5 id="text">${{d.price}}</h5></th>
                        {% if user.is_authenticated %}
<style>
@media(max-width: 768px){
#add_button {
    padding:5px 0px;
    font-size:12px;
    height:30px;
    width:70px;
    border-radius:5px;
}
}
</style>
                        <form method="POST" action="/shop/">{% csrf_token %}
                        <input type="hidden" name="cart_id" value="{{request.user.id}}">
                        <input type="hidden" name="image_p" value="{{d.image}}">
                        <input type="hidden" name="name_p" value="{{d.product_name}}">
                        <input type="hidden" name="price_p" value="{{d.price}}">
                        <input type="hidden" name="product_id" value="{{d.id}}">
                        <th><button data-toggle="modal" data-target="#myModal{{d.id}}" id="add_button" class="btn btn-dark" type="button">Add To Cart</button></th>



<div class="modal fade" id="myModal{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="{{d.id}}" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Quantity?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
<style>
#quantity{
width: 200px;
}
</style>
      <label for="quantity"><h5>Please Choose quantity of the Item</h5></label><br>
       <select name="quantity" id="quantity">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
       </select>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark" >Submit</button>
      </div>
    </div>
  </div>
</div>




                        </form>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <br>

<style>
#butt{
  float:right;
}
</style>
        {% if data.has_previous %}
          <a href="/shop/view/?page={{data.previous_page_number}}"><button class="btn btn-secondary">&laquo;Previous</button></a>
        {% endif %}

        {% if data.has_next %}
          <a href="/shop/view/?page={{ data.next_page_number }}"><button class="btn btn-secondary" id="butt">next&raquo;</button></a>
        {% endif %}

<br>
<br>

{%endblock%}
