{% extends 'shop/basic.html' %}
{%block body%}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
<style>
@media (max-width: 767px){
.login-form form {
    width: 90%;
    padding: 20px 15px 20px;
}
}
</style>

    <div class="container mt-1">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th><h5>S/N</h5></th>
                        <th><h5>Product Image</h5></th>
                        <th><h5>Product Name</h5></th>
                        <th><h5>Product Price</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for d in data %}
                      <tr>
                        <th>{{forloop.counter}}</th>
                        <th><img src="{{d.image.url}}" width="260px" height="270px"></a></th>
                        <th><h4><a href="/shop/productview/{{d.id}}">{{d.product_name}}</a></h4></th>
                        <th><h5>${{d.price}}</h5></th>
                      {% endfor %}
                    </tbody>
                  </table>



            </div>
        </div>
    </div>
</body>
</html>
{%endblock%}