{% extends 'shop/basic.html' %}
{% block title %}View Order{% endblock %}
{%block body%}
{%if user.is_authenticated%}
{% for order in order %}
{% if request.user.id == order.user_uid %}

<style>
.flex-shrink-0{
    width: 200px;
    height: 170px;
}
@media (max-width: 767px){
.flex-shrink-0{
    width: 140px;
    height: 120px;
}
}
</style>

<br>
<div class="d-flex position-relative">
  <img src="/media/{{order.product_image}}" class="flex-shrink-0 me-3" alt="...">
  <div>
    <h3 class="mt-0">Product Name:-{{order.product_name}}</h3>
    <h5>Price:-<b>${{order.product_price}}</b></h6>
    <a href="/shop/productview/{{order.product_id}}"><button class="btn btn-primary mx-3" >View Product</button></p></a>
    <a href="/shop/delete/{{order.id}}" onclick="return confirm('Are you sure you want to Cancel The Order?')"/><button class="btn btn-danger mx-3">Cancel Order</button></p></a>
  </div>
</div>
<br>
<br>






{% endif %}
{% endfor %}
{%else%}
<h2>Please sign in to see your Orders</h2>
<a href="/" class="btn btn-danger">Sign in Here</a>
{%endif%}
{%endblock%}
