{% extends 'shop/basic.html' %}
{% block title %}View Order{% endblock %}
{%block body%}
{%if user.is_authenticated%}
{% for order in order %}
{% if request.user.id == order.user_uid %}

<style>
.flex-shrink-0{
    width: 200px;
    height: 170px;
}
@media (max-width: 767px){
.flex-shrink-0{
    width: 140px;
    height: 120px;
}
h4,h5,a{
  font-size: 16px;
}
}
</style>

<br>
<div class="d-flex position-relative">
  <img src="/media/{{order.product_image}}" class="flex-shrink-0 me-3" alt="...">
  <div>
    <h4 class="mt-0">Product Name:-<b><u>{{order.product_name}}</u></b></h4>
    <h5>Price:-<b><u>{{order.product_price}}</u></b></h6>
    <a href="/shop/productview/{{order.product_id}}"><button class="btn btn-primary mx-3" >View Product</button></p></a>
    <a href="destroy/{{order.id}}" onclick="return confirm('Are you sure you want to Cancel The Order?')"/><button class="btn btn-danger mx-3">Cancel Order</button></p></a>
  </div>
</div>
<br>
<br>






{% endif %}
{% endfor %}



<hr style="height:2px;color:black;"></hr>
<center><h3><u>You Don't Have More Order</u></h3>
<a href="/shop"><button class="btn btn-dark">Buy More</button></a></center>
<hr style="height:2px;color:black;"></hr><br>



{%else%}
<center><h2>Please sign in to see your Orders</h2>
<a href="/" class="btn btn-danger">Sign in Here</a></center>
{%endif%}
{%endblock%}
