{% extends 'shop/basic.html' %}
{% block title %}View Product{% endblock %}
{%block body%}
{%if user.is_authenticated%}
{% for product in product %}
{% if request.user.id == product.admin_id %}
<style>
.flex-shrink-0{
    width: 200px;
    height: 170px;
}
@media (max-width: 767px){
.flex-shrink-0{
    width: 130px;
    height: 120px;
}
h3,h4{
  font-size: 14px;
}
}
</style>

<br>
<div class="d-flex position-relative">
  <img src="/media/{{product.image}}" class="flex-shrink-0 me-3" alt="...">
  <div>
    <h3 class="mt-0"><b>Product name:-</b>{{product.product_name}}</h3>
    <h4><b>Product price:-</b>${{product.price}}</h4>
    <h4><b>Product Category:-</b>{{product.category}}</h4>
    <a href="/shop/productview/{{product.id}}"><button class="btn btn-primary">visit product</button></a>
    <a href="/shop/edit/{{product.id}}"><button class="btn btn-success">Edit</button></a>
  </div>
</div>
<br>
<br>
{% endif %}
{% endfor %}

<hr style="height:2px;color:black;"></hr>
<center><h3><u>You Don't Have More Products</u></h3>
<a href="/shop/sellproduct"><button class="btn btn-dark">Sell Products</button></a></center>
<hr style="height:2px;color:black;"></hr><br>



{% else %}
<center><h2>Please sign in to see your Selled Products</h2>
<a href="/" class="btn btn-danger">Sign in Here</a></center>
{% endif %}
{%endblock%}
