{% extends 'shop/seller.html' %}
{% block title %}View Product{% endblock %}
{%block body%}
{%if user.is_authenticated%}

{% if your_product == "no" %}
<center><img src="https://static8.depositphotos.com/1431107/919/i/600/depositphotos_9199988-stock-photo-oops-icon.jpg" width="200px" height="200px"><h3><u>You Don't Have any Product</u></h3>
<a href="/shop/sellproduct"><button class="btn btn-dark">Sell Products</button></a></center>
{% endif %}


{% for product in product %}
{% if request.user.id == product.admin_id %}
<style>
.flex-shrink-0{
    width: 200px;
    height: 170px;
}
@media (max-width: 767px){
.flex-shrink-0{
    width: 130px;
    height: 120px;
}
h3,h4{
  font-size: 14px;
}
}
</style>

<br>
<div class="container mx-1 d-flex position-relative">
  <img src="/media/{{product.image}}" class="flex-shrink-0 me-3" alt="...">
  <div class="container">
    <h3 class="mt-0"><b>Product name:-</b>{{product.product_name}}</h3>
    <h4><b>Product price:-</b>₹{{product.price}}</h4>
    <h4><b>Product Category:-</b>{{product.category}}</h4>
    <a href="/shop/productview/{{product.id}}"><button class="btn btn-primary my-1">visit product</button></a>
    <a href="/shop/edit/{{product.id}}"><button class="btn btn-success">Edit</button></a>
  </div>
</div>
<hr>
<br>
<br>
{% endif %}
{% endfor %}



{% else %}
<br>
<center><h2>Please sign in to see your Selled Products</h2>
<a href="/" class="btn btn-danger">Sign in Here</a></center>
{% endif %}
{%endblock%}
